* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --green: #3db370;
  --dark-green: #52c29d;
  --light-green: #e1f4f5;
  --lighten-green: #f4feff;
  --middle-green: #caeff2;
}
.header {
  height: 80px;
  border: 1px solid #efeef3;
}
.container {
  margin: 0 auto;
  max-width: 1170px;
}
.margin_23 {
  margin: 23px 0 23px 0;
}
.title {
  margin: 15px 0 40px 0;
  font-weight: 600;
  font-size: 40px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  line-height: 52px;
  letter-spacing: 0.2px;
  color: #16133d;
}
.text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #7690a8;
}
.our_service {
  margin: 100px 0 100px 0;
}
.our_service__sections {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
/* card */
.cards {
  align-items: center;
  padding: 40px;
  width: 370px;
  height: 340px;
  border: 1px solid #e5eaf4;
  border-radius: 8px;
  background: #ffffff;
}
.cards-title {
  margin: 30px 0 15px 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  letter-spacing: 0.2px;
  color: #16133d;
}
.cards-text {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #16133d;
}
.cards-link {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #3db370;
}
.cards-link:hover {
  transition: all 0.3s;
  color: #1565d8;
}
.cards:hover {
  background: #ffffff;
  border: 1px solid #3db370;
  border-radius: 8px;
}
/* svg */
svg:hover .path-1 {
  stroke: var(--green);
  transition: all 0.3s;
}
svg:hover .path-2 {
  fill: var(--light-green);
  transition: all 0.3s;
}
svg:hover .path-3 {
  fill: var(--middle-green);
  transition: all 0.3s;
}
svg:hover .path-4 {
  fill: var(--lighten-green);
  transition: all 0.3s;
}
svg:hover .path-5 {
  fill: var(--dark-green);
  transition: all 0.3s;
}
svg:hover .path-6 {
  fill: var(--green);
  transition: all 0.3s;
}
/* footer */
.footer {
  height: 193px;
  background: #16133d;
}
.footer_logo {
  margin-top: 40px;
  background-color: #16133d;
}
.icons {
  margin: 40px 0 40px 0;
  display: flex;
  gap: 10px;
}
