.link-bar {
	&__menu {
		display: flex;
		gap: 23px;
	}

	&__link-wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__icon {
		fill: $text;
	}

	&__link {
		width: 50px;
		height: 50px;
		padding: 10px;
		display: inline-block;
		border: 1px solid $text;

		&:hover {
			background-color: $text;

			& .link-bar__icon {
				fill: $white;
			}
		}

		&:active {
			background-color: $text;

			& .link-bar__icon {
				fill: $white;
			}
		}
	}
}