* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fixed_background {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right center;
}

.header {
  margin-left: 120px;
  margin-right: 120px;
  max-width: 1200px;
}
.position__fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  -webkit-animation-play-state: 13px 0;
}

.container {
  max-height: 1200px;
  justify-content: space-between;
}

.container__display {
  display: flex;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
  /* justify-content: flex-start; */
}
.justify-content {
  justify-content: flex-start;
  padding: 16px 0;
}

.text {
  font-family: "Tourney", cursive;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.04em;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.container__img {
  width: 238px;
  height: 54px;
  justify-content: flex-end;
}
.nav {
  color: #000000;
  text-decoration: none;
  font-family: "Staatliches", cursive;
  /* height: 1.75em; */
  font-size: 22px;
  line-height: 28px;
}
.gap-50 {
  gap: 50px;
}
/* MAIN */
.main {
  max-width: 1200px;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 150px;
}
.img {
  /* position: absolute; */
  left: 56.39%;
  right: -9.17%;
  top: 4.87%;
  bottom: 70.46%;
}
/* .z__index { */
/* z-index: 2; */
/* } */

.side-bar {
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 70px;
  max-width: 385px;
  height: 462px;
  left: 120px;
  top: 150px;
}
.side-bar__text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 10px;
  gap: 10px;
  border-bottom: 1px solid #bdbdbd;

  font-family: "Francois One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
}
.gap-30 {
  gap: 30px;
}
.main__text {
}
.title {
  display: flex;
}
.text-align {
  text-align: center;
}
.flex-direction {
  flex-direction: column;
}

.title__h2 {
  font-family: "Francois One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.25em;
  line-height: 1.3em;
  /* font-size: 36px;
    line-height: 48px; */
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
}
.divider {
  width: 100px;
  height: 8px;
  background: #000000;
  margin-bottom: 20px;
}

.title__text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.75em;
  line-height: 2em;
  color: #000000;
}
.title__chapter {
  font-style: normal;
  font-weight: 300;
  font-size: 1.25em; /* ==> font-size: 1.25 * some row height 10px ==> 12.5px */
  line-height: 1.25em; /* ==> line-heigh: 1.25 * font-size 12.5px ==> 15pxpx*/

  letter-spacing: 0.04em;
  color: #000000;
}
.chapter {
  font-family: "Farro", sans-serif;
  margin-left: 0.625em;
}
.background-color {
  background-color: #dadada;
}
.block {
  font-family: "PT Sans", sans-serif;
}
.block__bold {
  font-weight: bold;
}

.text__underline {
  text-decoration: underline;
}
.text__italic {
  font-style: italic;
}
.margin-bottom-70 {
  margin-bottom: 70px;
}
.margin-bottom-90 {
  margin-bottom: 90px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.gap-10 {
  gap: 10px;
}
.main__grid {
  display: grid;
  grid-template-columns: 385px 1fr;
  column-gap: 30px;
}
ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.text-decoration_none {
  text-decoration: none;
}
