/* Header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 120px;

    max-width: 1440px;
    height: 80px;
}

.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;

    max-width: 496px;
    height: 30px;
}

.navigation_item {
    max-width: 86px;
    height: 25px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    
    letter-spacing: 0.02em;
    
    color: #828282;
}

.black_color {
    color: #070707;
}

/* line */
.line{
    max-width: 970px;
    height: 0px;
    bottom: 0px;
    margin-left: auto;
    margin-top: auto;

    border: 1px solid #828282;
}


/* FIRST */
.first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;
    max-width: 970px;
    height: 497px;
}

.name{
    width: 300px;
    height: 60px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    
    /* Black */
    
    color: #070707;
}

.photo{
    width: 970px;
    height: 387px;
}


/* about me */
.about_me_old {
    background-color: #F6F6F6;
    padding: 100px 0;
    justify-content: center;
    align-self: center;

    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.about_me {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    gap: 50px;
    
    max-width: 970px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    
    background: #F6F6F6;
}

.about_me .about_me_header {
    width: 200px;
    height: 40px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    
    color: #070707;
}

.text {
    width: 480px;
    max: 50px 0 100px 0;
}

.about {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #070707;
    justify-content: center;
    
}

.about2 {
    justify-content: center;
    align-self: center;
    margin: 30px 0;
}


/* SKILLS */
.skills {
    max-width: 970px;
    height: 564px;

    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: #FFFFFF;
}

.skills .heading {
    width: 250px;
    height: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between
}

.heading .skills_header {
    width: 120px;
    height: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #070707;
}

.heading .text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    height: 24px;
}

.skills .product_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 97px; 
    max-width: 970px;
    height: 230px;
}

.product_list .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 60px;
    width: 170px;
    height: 230px;
}

.product .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 25px;
    width: 80px;
    height: 143px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #828282;
}

.product .rating {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 170px;
    height: 26px;
}


/* PORTFOLIO */
.portfolio {
    max-width: 970px;
    height: 2150px;

    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 59px 235px;
    gap: 50px;
    isolation: isolate;

    background: #F6F6F6;
}

.portfolio .portfolio_header {
    width: 150px;
    height: 40px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;

    color: #070707;
}

.portfolio .pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 70px;

    max-width: 970px;
    height: 1978px;
}

.portfolio .pages .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;

    max-width: 970px;
    height: 630px;
}

.portfolio_image {
    max-width: 970px;
    height: 540px;
}

.portfolio_link {
    width: 200px;
    height: 50px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-decoration-line: underline;

    color: #070707;
}

.portfolio .pages a {
    color: #070707;
}


/* contacts */
.Contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding-top: 100px;
    max-width: 970px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contacts_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    
    width: 280px;
    height: 106px;
}

.contacts_header {
    width: 150px;
    height: 40px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    
    color: #070707;
    
}

.contacts_text {
    width: 235px;
    height: 46px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    
    color: #070707;
}

.contacts_links {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    height: 114px;
}

.icons_bar {
    display: grid;
    /* padding: 0px; */
    grid-template-columns: auto auto auto auto;
    gap: 50px;
    width: 310px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.text1 {
    height: 60px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    
}

.text2{
    color: #828282;
    text-decoration: none;
}