* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    line-height: 10px;
}

$dark-grey: #333;
$middle-grey: #666;
$light-grey: #898F8F;
$grey: #ccc;
$white: #fff;
$gold: #FFCC00;

@mixin alignment-flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin border-image {
    position: absolute;
    min-height: 100px;
    min-width: 100px;
}
@mixin alignment-flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body {
    font-family: "Raleway", sans-serif;
    color: $middle-grey;
}

.main__section {
    margin: 122px auto;
    max-width: 1170px;   
}

.main__section__title-box {
    max-width: 450px;
    position: relative;
    margin: 0 auto 40px;
    @include alignment-flex-center();
    border-bottom: 1px solid $gold;

    &_subtitle {
        color: $light-grey;
        margin-bottom: 15px;
        font-family: 'Raleway';
        font-weight: 500;
        text-transform: uppercase;
        font-size: 1.8rem;
        line-height: 2.4rem;
        
    }

    &_title {
        color: $gold;
        margin-bottom: 40px;
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 6rem;
        line-height: 6.6rem;
        text-transform: uppercase;
    }

    &_icon {
        background-color: $white;
        position: absolute;
        top: 137px;
        min-width: 30px;
        text-align: center;
    }
}

.profile {
    @include alignment-flex-space-between;
    min-height: 560px;

    &__container {    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__photo {
        position: relative;
        margin: 0 auto;
        padding: 15px;
        max-width: 430px;
        max-height: 430px;
        &_border-top--l {
            @include border-image;
            top: 0;
            left: 0;
            border-left: 1px solid $gold;
            border-top: 1px solid $gold;
        }

        &_border-top--r {
            @include border-image;
            top: 0;
            right: 0;
            border-top: 1px solid $gold;
            border-right: 1px solid $gold;
        }

        &_border-bottom--l {
            @include border-image;
            bottom: 0;
            left: 0;
            border-left: 1px solid $gold;
            border-bottom: 1px solid $gold;
        }

        &_border-bottom--r {
            @include border-image;
            bottom: 0;
            right: 0;
            border-right: 1px solid $gold;
            border-bottom: 1px solid $gold;
        }
    }

    &__vl {
        background-color: $gold;
        width: 1px;
        height: 560px;
    }

    &__info {
        max-width: 430px;
        @include alignment-flex-center;

        &_title {
             margin-bottom: 30px;
            color: $middle-grey;
            font-family: 'Roboto';
            font-weight: 900;
            font-size: 3.6rem;
            line-height: 4.2rem;
            text-transform: capitalize;
           
        }

        &_hr {
             margin-bottom: 30px;
            border: none;
            background-color: $gold;
            width: 100px;
            height: 1px;
        }

        &_subtitle {
            color: $middle-grey;
            margin-bottom: 30px;
            font-family: 'Raleway';
            font-size: 2.4rem;
            line-height: 3.6rem;
            text-transform: capitalize;
        }

        &_social {

            &_link {
                display: inline-flex;
                justify-content: center;
                width: 30px;
                padding: 7px 0;
                margin-bottom: 50px;
                border: 2px solid $grey;
                background-color: #fff;
                border-radius: 50%;
                transition: all 0.5s ease;

                & + & {
                    margin-left: 5px;
                }

                &_icon {
                    fill: $grey;
                }   
                &:hover {
                    border-color: $gold;
                }

                &:hover &_icon {
                    fill: $gold;
                }

               
            }
        } 

        &_text {
            color: $dark-grey;
            text-align: center;
            margin-bottom: 20px;
            font-family: 'Raleway';
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 2.4rem;
        }

        &__decor {
            @include alignment-flex-space-between;
            max-width: 90px;
            margin-bottom: 25px;

            &_line {
                background-color: $gold;
                width: 10px;
                height: 4px;

                &:nth-last-child(2) {
                    width: 20px;
                    margin: 0 5px;
                }
            }
        }   

        &_link {
            border: 1px solid $gold;
            padding: 5px 10px;
            transition: all 0.5s ease;
            font-family: 'Open Sans';
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 1.4rem;
            text-transform: uppercase;
            color: $middle-grey;
            text-decoration: none;
            
            &:hover {
                color: $white;
                background-color: $gold;
            }
        }

    }
}