*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #6600ff;
}
ul,
ol,
li {
  list-style: inside;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
body {
  font-size: 15px;
  background-color: #e7d3d3;
}
span {
  text-decoration: none;
}
.wrapper {
  display: flex;
  justify-content: space-around;
}
.container {
  padding: 120px;
}
.header_Block {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-left: 5px;
}
.left_Block {
  padding: 15px 40px;
  background-color: #ffffff;
}
#first_Name {
  min-width: 245px;
  min-height: 38px;
  border-radius: 8px;
}
#last_Name {
  min-width: 245px;
  min-height: 38px;
  border-radius: 8px;
}
.name_Profile {
  display: flex;
  flex-direction: row;
}
.fist_Name {
  display: flex;
  flex-direction: column;
}
.last_Name {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
#E-mail {
  min-width: 500px;
  border-radius: 8px;
  min-height: 38px;
}
.E-mail {
  display: flex;
  flex-direction: column;
}
.e-mail_Text {
  margin-top: 4px;
  font-size: 13px;
  color: #969696;
}
.gender_Selection {
  margin-top: 15px;
  display: flex;

  flex-direction: row;
}
.male_Selection {
  margin-right: 20px;
}
.select_Place {
  display: flex;
  flex-direction: row;
}
.select_Country {
  margin-right: 15px;
}
.download_flex_container {
  display: flex;
  flex-direction: row;
}
select {
  min-width: 245px;
  min-height: 38px;
  border-radius: 8px;
}
#city {
  min-width: 245px;
  min-height: 38px;
  border-radius: 8px;
}
#cities {
  min-width: 245px;
  min-height: 38px;
  border-radius: 8px;
}

#sign_Up {
  margin-top: 15px;
  min-width: 500px;
  min-height: 38px;
  border-radius: 8px;
  background-color: #9000ff;
  border-color: #ffff;
}
.profile_Foto {
  padding-right: 5px;
}
.input_Download_file {
  max-width: 138px;
  background-color: #ffff;
  color: #ffff;
}
.input_Reset_file {
  max-width: 30px;
  background-color: #ffff;
  color: #ffff;
  z-index: 3;
}
.button_Text {
  color: #ffff;
}
.general_Information {
  display: flex;
  flex-direction: column;
}
.general_Information_text {
  margin-top: 15px;
  font-size: 13px;
  color: #969696;
  text-align: center;
}
hr {
  margin: 25px 0px;
}
.footer_Block {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer_Block_text {
  margin-left: 20px;
}
.right_Block_header {
  padding-right: 80px;
}
.right_Block {
  padding: 15px 40px;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
}
.image_Profile {
  display: flex;
  flex-direction: row;
}
.download_File {
  margin-top: 15px;
  margin-left: 15px;
  border: 1px solid black;
  border-radius: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
}
.image_Reset {
  border: 1px solid #e4e4e4;
}
.reset_File {
  margin-top: 20px;
  margin-left: 10px;
}
.select_Style {
  color: #969696;
}
.image_Man {
  display: flex;
  flex-direction: column;
}
.image_Profile_text {
  font-size: 13px;
  color: #969696;
}
.image_Profile_text {
  padding-left: 15px;
}
#first_Name {
  min-width: 245px;
  min-height: 38px;
  border-radius: 8px;
}
#first_Names {
  min-width: 245px;
  min-height: 38px;
  border-radius: 8px;
}
#zip_Code {
  min-width: 245px;
  min-height: 38px;
  border-radius: 8px;
}
#e-mail {
  min-width: 245px;
  min-height: 38px;
  border-radius: 8px;
}
#phone_Number {
  min-width: 245px;
  min-height: 38px;
  border-radius: 8px;
}
#sign_Up_footer {
  min-width: 150px;
  min-height: 38px;
  border-radius: 8px;
  background-color: #7700ff;
  color: #ffff;
  border-color: #ffff;
  margin-top: 15px;
}
