* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  display: flex;
  max-width: 1440px;
  align-items: center;
  justify-content: center;
}

.content--direction-row {
  flex-direction: row;
  justify-content: space-around;
}

.content--direction-column {
  flex-direction: column;
}

/* NAVIGATION BLOCK */
.navigation {
  display: flex;
  margin: 28px 0;
  gap: 30px;
  justify-content: center;
}

.navigation__link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  color: #3c3c3c;
  text-decoration: none;
}

.navigation__link:hover {
  color: #18b5dc;
}

.navigation__link--font-size-18 {
  font-size: 18px;
  line-height: 22px;
}

.navigation__link--font-size-20 {
  font-size: 20px;
  line-height: 24px;
}

/* BUTTON */
.button {
  padding: 10px 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  color: #3c3c3c;
  background-color: #ffffff;
}

.button:hover {
  color: #ffffff;
  background-color: #18b5dc;
  border-color: #18b5dc;
}

/* ICONS */
.icon-group {
  display: flex;
}

.icon-group--gap-4 {
  gap: 4px;
}

.icon-group--gap-10 {
  gap: 10px;
}

.icon {
  width: 42px;
  height: 42px;
}

/* twitter */
.icon--twitter {
  background-image: url(../images/twitter.jpg);
}
.icon--twitter:hover {
  background-image: url(../images/twitterbg.jpg);
}
/* facebook */
.icon--facebook {
  background-image: url(../images/facebook.jpg);
}
.icon--facebook:hover {
  background-image: url(../images/facebookbg.jpg);
}
/* instagram */
.icon--instagram {
  background-image: url(../images/instagram.jpg);
}
.icon--instagram:hover {
  background-image: url(../images/instagrambg.jpg);
}
/* linkedin */
.icon--linkedin {
  background-image: url(../images/linkedin.jpg);
}
.icon--linkedin:hover {
  background-image: url(../images/linkedinbg.jpg);
}
/* telegram */
.icon--telegram {
  background-image: url(../images/telegram.jpg);
}
.icon--telegram:hover {
  background-image: url(../images/telegrambg.jpg);
}
