* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
}
.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 30px;
}
.header-menu div:hover {
  color: #18b5dc;
}

.btn:hover {
  background-image: url(../images/button.jpg);
  border: 1px solid #18b5dc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
}
.solid {
  max-width: 1440px;
}

.who-we-are {
  background: #f6f6f6;
}
.contetn {
  max-width: 1170px;
}
.section-top {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
}
.who {
  position: absolute;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #3c3c3c;
}
.solid2 {
  position: absolute;
  max-width: 45px;
  background: #dddbdb;
}
.subtitle {
  position: absolute;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #3c3c3c;
}

.section-team {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
.card {
  width: 270px;
  height: 270px;
}
.card:hover {
  background-image: url(../images/bg.png);
}

.card-text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-end;
  align-items: flex-start;
}
.card-name {
  color: #282528;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.card-work {
  color: #646464;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}
footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
}
img:hover {
  background-image: url(../images/twitterbg.jpg);
}

.footer-menu div:hover {
  color: #18b5dc;
}
